* {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

header {
  position: relative;
}

nav {
  height: 50px;
  background-color: #212121;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.col-md-6 {
  width: 47%;
}

.menu {
  display: flex;
  justify-content: space-between;
  padding: 13px 71px;
  margin: 0;
  list-style-type: none;
}
.menu_link {
  font-size: 15px;
  font-weight: 300;
  color: #ffffff;
}
.menu_item {
  border-right: 2px dotted black;
  padding-right: 28px;
}
.menu_item:last-of-type {
  padding: 0;
  border-right: none;
}

.subheader {
  margin-top: 50px;
  position: absolute;
  width: 100%;
  height: 84px;
  background-color: rgba(0, 0, 0, 0.6);
}
.subheader_logo {
  display: block;
  max-width: 100%;
  margin-top: 16px;
}
.subheader_official {
  margin-top: 6px;
  font-size: 13px;
  font-weight: 100;
  opacity: 0.5;
  color: #ffffff;
}
.subheader_call {
  margin-top: 19px;
  font-size: 12px;
  font-weight: 300;
  text-align: right;
  color: #ffffff;
}
.subheader_phone {
  display: block;
  margin-top: 8px;
  font-size: 22px;
  text-align: right;
  color: #ffffff;
  line-height: 12px;
}
.subheader_btn {
  margin-top: 19px;
  width: 172px;
  height: 46px;
  box-shadow: inset 0px -3px 0 0 rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 4px;
  background-image: linear-gradient(to top, #1eacc7, #4ce2ff);
  text-shadow: 0.7px 0.7px 0 rgba(0, 0, 0, 0.21);
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}
.subheader_btn:hover {
  background-image: none;
  background-color: #1eacc7;
}

.promo {
  min-height: 800px;
  background: url("../img/main_bg.jpg") center center/cover no-repeat;
  padding: 135px 0;
}
.promo_header {
  margin: 135px 0 0 0;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 60px;
  font-weight: 900;
  line-height: 60px;
  text-align: center;
}
.promo_subheader {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 36px;
  font-weight: 900;
  line-height: 36px;
  margin: 22px 0 0 0;
  text-align: center;
}
.promo_description {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  margin-top: 23px;
}
.promo_btn {
  display: block;
  margin: 118px auto 0;
  width: 259px;
  height: 63px;
  box-shadow: inset 0px -4px 0 0 rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 4px;
  background-image: linear-gradient(to top, #1eacc7, #4ce2ff);
  text-align: center;
  font-size: 18px;
  font-weight: normal;
  color: #ffffff;
}
.promo_btn:hover {
  background-image: none;
  background-color: #1eacc7;
}

.label_black {
  margin: 0 auto;
  width: 112px;
  height: 24px;
  padding: 5px 12px;
  font-size: 11px;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  background-color: #000000;
  color: #ffffff;
}

.label_white {
  margin: 0 auto;
  width: 112px;
  height: 24px;
  padding: 5px 12px;
  font-size: 11px;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  background-color: #ffffff;
  color: #070716;
}

.title_black {
  font-size: 38px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  margin-top: 32px;
  color: #222222;
}

.title_white {
  font-size: 38px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  padding-top: 32px;
  color: #ffffff;
}

.subtitle_black {
  margin-top: 19px;
  font-size: 17px;
  font-weight: 400;
  text-align: center;
  color: #222222;
}

.subtitle_white {
  margin-top: 19px;
  font-size: 17px;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
}

.advantages {
  min-height: 900px;
  padding: 71px 0 65px 0;
}
.advantages_wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.advantages_item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
}
.advantages_item .item_round {
  width: 131px;
  height: 131px;
  border-radius: 100%;
  background-color: #1eacc7;
  margin-right: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.advantages_item .item_text {
  width: 343px;
}
.advantages_item .item_text .item_header {
  color: #1eacc7;
  font-size: 17px;
  line-height: 21px;
  text-align: justify;
  font-weight: 400;
}
.advantages_item .item_text .item_description {
  color: #202020;
  font-size: 15px;
  line-height: 21px;
  text-align: justify;
  font-weight: 300;
}

.mobile {
  min-height: 864px;
  padding: 48px 0 79px 0;
  background: url("../img/mobile_bg.png");
}
.mobile .row {
  margin-top: 32px;
}
.mobile_item {
  position: relative;
  width: 320px;
  height: 280px;
  margin: 0 auto 19px;
  padding-top: 92px;
}
.mobile_item_1 {
  background: url("../img/mobile/1.png") center center/cover no-repeat;
}
.mobile_item_2 {
  background: url("../img/mobile/2.png") center center/cover no-repeat;
}
.mobile_item_3 {
  background: url("../img/mobile/3.png") center center/cover no-repeat;
}
.mobile_item_4 {
  background: url("../img/mobile/4.png") center center/cover no-repeat;
}
.mobile_item_5 {
  background: url("../img/mobile/5.png") center center/cover no-repeat;
}
.mobile_item_6 {
  background: url("../img/mobile/6.png") center center/cover no-repeat;
}
.mobile_item_subtitle {
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
  line-height: 31px;
  text-transform: uppercase;
}
.mobile_item_plus {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 35px;
  left: 50%;
  transform: translateX(-50%);
  width: 26px;
  height: 26px;
  background-color: #000000;
  margin: 0 auto;
  border-radius: 100%;
  cursor: pointer;
}
.mobile_item_plus:before {
  content: "";
  display: block;
  width: 14px;
  height: 2px;
  background-color: #1eacc7;
  transition: 0.3s all;
}
.mobile_item_plus:after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 2px;
  height: 14px;
  background-color: #1eacc7;
  transition: 0.3s all;
}
.mobile_item_plus:hover:before, .mobile_item_plus:hover:after {
  background-color: #ff5656;
}

.choice {
  min-height: 896px;
  padding: 57px 0 138px 0;
  background: url("../img/choice_bg.png") center center/cover no-repeat;
}
.choice .car_img {
  display: block;
  padding-top: 56px;
  margin: 0 auto;
}
.choice_text {
  font-size: 17px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
  color: #222222;
  margin-top: 4px;
}

.require {
  padding: 68px 0 84px 0;
}
.require_block {
  margin: 33px 0;
}
.require_block_nmb {
  margin-bottom: 0;
}
.require_title {
  font-size: 22px;
  font-weight: 400;
  color: #1ca8c3;
}
.require_list {
  list-style-type: none;
  padding-left: 50px;
  margin-top: 22px;
}
.require_list li {
  position: relative;
  font-size: 17px;
  font-weight: 300;
  line-height: 24px;
  margin-bottom: 10px;
}
.require_list li:before {
  content: "";
  display: block;
  position: absolute;
  left: -32px;
  top: 3px;
  width: 21px;
  height: 20px;
  background: url("../icons/check_blue.png") center center/cover no-repeat;
}
.require_description {
  margin-top: 25px;
  font-size: 17px;
  font-weight: 300;
  line-height: 24px;
  color: #1ca8c3;
}
.require .warning .require_title {
  color: #ff5656;
}
.require .warning .require_list li:before {
  background: url("../icons/check_red.png") center center/cover no-repeat;
}

.cities {
  position: relative;
  height: 717px;
  background: url("../img/cities_bg.jpg");
}
.cities_wrapper {
  height: 717px;
  padding: 49px 0;
  position: relative;
}
.cities_view {
  position: absolute;
  bottom: 0;
  padding-bottom: 49px;
  left: 50%;
  transform: translateX(-50%);
}
.cities_view a {
  font-size: 15px;
  text-align: center;
  line-height: 68px;
  color: #1fbad6;
  text-decoration: none;
  text-transform: uppercase;
}
.cities_view a:hover {
  color: #1eacc7;
  text-decoration: underline;
}

/*# sourceMappingURL=style.css.map */
